name: Generate Gradle Wrapper

on:
  workflow_dispatch:

jobs:
  generate-wrapper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Gradle
        run: sudo apt-get update && sudo apt-get install -y gradle

      - name: Generate Gradle Wrapper
        run: gradle wrapper

      - name: Commit and Push Gradle Wrapper
        run: |
          git config --global user.name "hoanghaiqn-127"
          git config --global user.email "you@example.com"
          git add gradlew gradlew.bat gradle/wrapper/
          git commit -m "Add gradlew files"
          git push
